<div class="container mt-2 mb-4 p-2">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Apagar postagem</h1>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <h4 class="text-center">Você realmente deseja apagar a Postagem?</h4>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card mt-4 mb-4">

        <div class="card-header text-light">
          <div class="row d-flex justify-content-start m-3">
            <div class="col-md-1 d-flex justify-content-center">
              <img class="card-foto" src="{{foto}}" alt="">
            </div>
            <div class="col-md-7">
              <p class="font-weight-bold fs-16 mb-0">{{nome}}</p>
              <small class="">{{postagem.data | date:'dd/MM/yyyy'}} às {{postagem.data | date:'HH:mm'}}</small>
            </div>
          </div>
        </div>

        <div class="card-body mb-2">
          <div class="row m-2">
            <h5 class="col-md-12 text-center">Tema: {{postagem.tema.nome}}</h5>
            <h5 class="col-md-12 mt-3 mb-3 fs-16">{{postagem.titulo}}</h5>
            <p class="col-md-12">{{postagem.texto}}</p>
            <hr>
          </div>
          <div class="row d-flex justify-content-center m-2">
            <img class="col-md-12 w-100" src="{{postagem.imagem}}" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-dark mr-4" routerLink='/inicio'>Não</button>
      <button class="btn btn-outline-dark" (click)="apagar()">Sim</button>
    </div>
  </div>

</div>
