<footer class="page-footer font-small cor-marrom-claro pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Tecnologias utilizadas:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">

                  <li>
                    <i class="devicon-spring-plain fa fa-spring-square"></i>
                  </li>
                  <li>
                    <i class="devicon-bootstrap-plain colored fa fa-bootstrap"></i>
                  </li>
                  <li>
                    <i class="devicon-angularjs-plain colored fa fa-angular-square"></i>
                  </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright cor-marrom text-center py-3">
        <span class="text-light">© 2021 Copyright: Rede Pets</span>
    </div>
</footer>
