ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 20pt;
    color: white;
    padding: 10px;

}

.fa-spring-square:hover{
    color: #3d7a2d;
}

.fa-bootstrap:hover{
    color: rgb(107, 28, 100);
}

.fa-angular-square:hover{
    color: #dd1616;
}