/* You can add global styles to this file, and also import other style files */
html{
  background-color: #E0C1AD;

}

.im-50 {
    width: 70px;
    height: 70px;
}

.form{
    width: 400px;
    margin: auto;
    padding-top: 40px;

}

.card-top {
    text-align: center;
}

.cor-marrom {
    background-color: #312227;
}

.cor-bege {
    background-color: #E0C1AD;
}

.cor-marrom-claro {
    background-color: #A27E6E;
}

.cor-laranja {
    background-color: #CA6536;
}

.cor-vinho {
    background-color: #931D33;
}

.txt-branco {
    color: white;
}
