<nav class="navbar navbar-expand-lg navbar-light cor-marrom-claro">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="container navbar-nav ml-auto d-flex justify-content-end">
      <li class="nav-item pl-4">
        <a class="m-0 font-weight-bold text-white" routerLink="/cadastrar">Cadastrar</a>
      </li>
      <li class="nav-item pl-4">
        <a class="m-0 font-weight-bold text-white" routerLink="/entrar">Entrar</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-12 cor-bege p-4">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center">

          <div class="col-md-6 d-flex justify-content-center">
            <img src="../../../assets/img/logo-redePets-1.png" alt="Logo Rede Pets" width="350px" height="350px">
          </div>

          <div class="col-md-6 text-center">
            <h1 class="fs-16">Seja bem-vinde!</h1>
            <p>A Rede Pets é uma plataforma que visa conectar pessoas que desejam adotar pets com outras
              que possuem pets disponíveis para adoção.
            </p>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
