<div class="container-fluid p-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <form class="card p-4 form-group" action="">

        <div class="card-top">
          <h1 class="text-center txt-marrom">Atualizar cadastro</h1>
        </div>

        <div class="form-group">
          <label for="nome">Nome</label>
          <input [(ngModel)]="usuario.nome" class="form-control" type="text" name="nome" id="nome" placeholder="Insira seu nome">
        </div>

        <div class="form-group">
          <label for="email">E-mail</label>
          <input [(ngModel)]="usuario.email" class="form-control" type="email" name="email" id="email" placeholder="Insira seu e-mail">
        </div>

        <div class="form-group">
          <label for="senha">Senha</label>
          <input (input)="confirmarSenha($event)" class="form-control" type="password" name="senha" id="senha"
            placeholder="Insira novamente sua senha">
        </div>

        <div class="form-group">
          <label for="confirmeSenha">Confirme senha</label>
          <input [(ngModel)]="usuario.senha" class="form-control" type="password" name="confirmeSenha"
            id="confirmeSenha" placeholder="Confirme sua senha">
        </div>

        <div class="form-group">
          <label for="foto">Foto de perfil</label>
          <input [(ngModel)]="usuario.foto" class="form-control" type="text" name="foto" id="foto"
            placeholder="Insira o link da foto de perfil">
        </div>

        <div class="form-group">
          <label for="tipo">Tipo de usuário</label>
          <select (change)="tipoUsuario($event)" class="form-control" name="tipo" id="tipo">
              <option>Selecione seu tipo de usuário:</option>
              <option value="adotar">Quero adotar</option>
              <option value="doar">Quero doar</option>
          </select>
        </div>

      <div class="d-flex justify-content-center mt-5">
        <button type="submit" class="btn btn btn-outline-dark mr-4" (click)="atualizar()">Atualizar</button>
        <button type="submit" class="btn btn btn-outline-dark" routerLink="/inicio">Cancelar</button>
      </div>

      </form>
    </div>
  </div>

</div>
