<div class="container-fluid">

    <div class="row d-flex align-items-center">

     <div class="col-md-6">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-3">Entrar</h1>
            
            <div class="form-group">
                <label for="usuario">Usuário</label>
                <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu e-mail">
            </div>

            <div class="form-group">
                <label for="senha">Senha</label>
                <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-success">Entrar</button>
            </div>

            <hr class="mt-5 mb-5"> 
            <p class="text-center">
               <a routerLink="/cadastrar"> Não tem uma conta cadastre-se</a>
            </p>
            </div>
        </div>

     </div>
     <div class="col-md-6" id="img-bg"></div>

    </div>
</div>