.card {
  box-shadow: 1px 1px 5px #E0C1AD;
  background-color: #E0C1AD;
  width: 100%;
}

.card-header {
  background-color: #A27E6E;
}

.card-foto {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.btn {
  animation: bg 10s infinite;
  animation-timing-function: linear;
}

.card-img-top {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.card-img-top:hover {
  -webkit-transform:scale(1.15); /* Safari and Chrome */
  -moz-transform:scale(1.15); /* Firefox */
  -ms-transform:scale(1.15); /* IE 9 */
  -o-transform:scale(1.15); /* Opera */
  transform:scale(1.15);
}
